extends ../../layout/default
include ../../mixin/alert
block style
    link(rel="stylesheet" href="/css/detail.css")
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
block main
    .container
        .flex
            .main
                nav
                    if (course && course.lessons && course.lessons.length > 0)
                        a(href=`/course/${course._id}/lesson/${course.lessons[0]._id}`)
                            button.active Vào học
                    else
                        a(href=`/course`).color-red
                            | Khóa học chưa hoàn thành nội dung(quay lại trang khóa học)
                h1 #{course.name}
                img(src=`${course.thumbnail}` alt="A person holding books and smiling in front of a blue background")
                p #{course.description}
            .sidebar
                h2 Khóa học liên quan
                ul
                    each item in relatedCourses   
                        li
                            img(src=`${item.thumbnail}` alt="Course thumbnail")
                            div
                                p.course-name #{item.name}
                                p.old-price $0
                                p.price #{item.price}
