extends ../../layout/default.pug
include ../../mixin/alert.pug

block style
    link(rel="stylesheet" href="/css/lesson.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")

block main
  .container
    .main-content
      if lesson.type === "video"
        .video-container
            video#lesson-video(controls src=lesson.videoUrl width="100%")
        .lesson-content
          h2#lesson-title= lesson.title
          p#lesson-description= lesson.content
      else if lesson.type === 'task'
        .task-container
          input#sheetName(type="hidden" value=lesson.jsonTask)
          .quiz_wrapper
            .quiz_header
              .quiz_timer
                i.fa-regular.fa-clock
                .quiz_timer_text
                  span Time remaining
                  p#timer 15:00
              button#quiz_submit SUBMIT
            .quiz_container
              .quiz_question
                h5 Question 1 of 10
                p#quiz_title
                ul
                  li
                    span A.
                    span.quiz_answer_item
                  li
                    span B.
                    span.quiz_answer_item
                  li
                    span C.
                    span.quiz_answer_item
                  li
                    span D.
                    span.quiz_answer_item
              .quiz_progress
                svg
                  circle(r='50')
                  circle#progress(r='50')
                span#progress_text 0/10
            .quiz_numbers
              button#quiz_prev Prev
              ul
              button#quiz_next Next
        .lesson-content
          h2#lesson-title= lesson.title
          p#lesson-description= lesson.content
          // Xử lý task nếu cần
      else
        .lesson-content
          h2#lesson-title= lesson.title
          p#lesson-description= lesson.content
          p Loại bài học không xác định
      // Đặt nút ghi chú ngoài if để luôn hiển thị
      .lesson-actions
        button#note-btn
          i.fas.fa-pen 
          | Ghi chú
        form#note-form(action=`/course/${course._id}/lesson/${lesson._id}/note` method="POST")
          textarea(name="noteContent" placeholder="Nhập ghi chú của bạn..." rows="4")= userNote
          button(type="submit") Lưu ghi chú

      if userNote
        .note-display
          h3 Ghi chú của bạn:
          p= userNote

    .sidebar
      h3 Nội dung khóa học
      ul.lesson-list
        each lesson, index in course.lessons
          li(class=(lesson._id.toString() === lessonId ? "active" : ""))
            a.lesson-link(href=`/course/${course._id}/lesson/${lesson._id}` data-lesson-id=lesson._id)= `${index + 1}. ${lesson.title}`

block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js")
    script.
      document.addEventListener('DOMContentLoaded', () => {
          const noteBtn = document.getElementById('note-btn');
          const noteForm = document.getElementById('note-form');

          if (noteBtn && noteForm) {
              noteBtn.addEventListener('click', () => {
                  if (noteForm.style.display === 'none' || noteForm.style.display === '') {
                      noteForm.style.display = 'block';
                      noteBtn.innerHTML = '<i class="fas fa-times"></i> Đóng ghi chú';
                  } else {
                      noteForm.style.display = 'none';
                      noteBtn.innerHTML = '<i class="fas fa-pen"></i> Ghi chú';
                  }
              });
          } else {
              console.error('note-btn or note-form not found!');
          }
      });
block script2
  script(src="/js/lesson.js")
      



















