extends ../../layout/default
include ../../mixin/alert

block style
    link(rel="stylesheet" href="/css/flashcard/review.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")

block main
    +alert-success(5000)
    +alert-error(5000)
    .container
        .review-container
            h2 Ôn luyện Flashcard: #{flashcard.name}
            form#review-form
                each item, index in quiz
                    .quiz-item
                        .left-column
                            p #{item.question}
                        .right-column
                            input(type="text" name=`answer-${index}` placeholder="Điền câu trả lời")
                            .result(style="display: none;")
                                i.icon
                                span.text
                            input(type="hidden" name=`correct-${index}` value=item.answer)
                .review-submit
                    button#grade-review.btn.btn-custom(type="button") Chấm điểm
        #review-results(style="display: none;")
            h2 Kết quả
            p#score Điểm: <span>0</span> / #{quiz.length}
            button#restart.btn.btn-custom(type="button") Làm lại

block script2
    script(src="/js/flashcard/review.js")